<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WUYINGDENGXIA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>047E960A1FFCBDEF0062F1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047E96221FFCBDF00062F1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047E962D1FFCBDF00062F1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
